* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(/images/bg-desktop.svg);
  background-color: hsl(257, 40%, 49%);
}

.logo {
  margin-top: 40px;
  margin-bottom: 60px;
  margin-right: auto;
  margin-left: auto;
  max-width: 90%;
  width: 1100px;
}

.content {
  display: flex;
  width: 1100px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;

  @media only screen and (max-width: 1200px) {
    flex-direction: column;
  }
  @media only screen and (max-width: 900px) {
    text-align: center;
  }
  &__img {
    width: 200%;

    @media only screen and (max-width: 1200px) {
      width: 100%;
    }
  }
  &__mockup {
    width: 100%;
  }
  &__text {
    padding-left: 20px;
    padding-right: 20px;

    @media only screen and (max-width: 900px) {
      padding-left: 0;
      padding-right: 0;
    }

    &--header {
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      font-size: 40px;
      color: #fff;
      padding-top: 40px;
      padding-bottom: 20px;

      @media only screen and (max-width: 600px) {
        font-size: 30px;
      }
    }
    &--paragraph {
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #fff;
      padding-bottom: 20px;

      @media only screen and (max-width: 600px) {
        font-size: 15px;
      }
    }
    &--btn {
      color: hsl(257, 40%, 49%);
      border: none;
      border-radius: 25px;
      font-family: "Poppins", sans-serif;
      font-weight: 400;
      transition: all 0.4s;
      width: 200px;
      font-size: 14px;
      padding-top: 15px;
      padding-bottom: 15px;
      box-shadow: 0 7px 20px rgba(0, 0, 0, 0.866);
      margin-bottom: 150px;

      @media only screen and (max-width: 900px) {
        width: 300px;
      }

      &:hover {
        cursor: pointer;
        transform: translateY(-2px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
        background-color: hsl(300, 69%, 71%);
      }
      &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
    &--button {
      text-decoration: none;
    }
  }
}

.socials {
  max-width: 90%;
  width: 1100px;
  margin-left: auto;
  margin-right: auto;

  &__unordered {
    padding-left: 80%;
    display: flex;
    list-style: none;
    justify-content: space-between;

    @media only screen and (max-width: 900px) {
      padding-left: 0;
      justify-content: center;
    }
  }
  &__list {
    margin-bottom: 20px;
    &--img {
      padding: 10px;
      border: #fff solid 1px;
      border-radius: 25px;
      width: 40px;
      &:hover {
        background-color: hsl(300, 69%, 71%);
        cursor: pointer;
      }
    }
  }
}

.one {
  @media only screen and (max-width: 900px) {
    padding-right: 20px;
  }
}
